# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/.vscode
/.vscode/launch.json
!.vscode/
!.vscode/launch.json
.vscode/*
/Debug
/.vs
/acmicpc/Debug
acmicpc.*
acmicpc.sln
*.ini